ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #776f6f;
}

.heading  {
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 20px;
}

.heading h1{
    font-weight: normal;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: rgb(67, 63, 63);
    line-height: 1.3em;
}

.heading strong{
    font-weight: bold;
}

.button {
    justify-self: center;
    padding: 10px;
}

.button button {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    background-color: #00b6d1;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.button button:hover {
    background-color: #60cedf;
}