*{
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    padding: 50px;
    display: flex;
}

.card {
    background-color: white;
    width: 198px;
    border-radius: 7px;
    padding: 0 0 20px 0;
    margin: 5px;
}

.image {
    padding: 5px;
    border-radius: 7px;
}

.image img {
    border-radius: 7px;
}

.content {
    padding: 10px;
}

.content h2 {
    text-shadow: 0px 0px 1px;
}

.content p {
    font-size: 14px;
    color: rgb(128, 128, 128);
    text-shadow: 0px 1px 4px;
}

.capsules{
    padding: 0px 34px 0px 10px;
}

.capsules span {
    border: 1px solid gray;
    padding: 1px 4px;
    border-radius: 7px;
    font-size: 12px;
}

.button{
    text-align: center;
}

.button button{
    padding: 7px 9px;
    border-radius: 20px;
    background-color: rgb(153, 207, 241);
    color: rgb(0, 105, 146);
    font-size: 13px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.button button:hover{
    background-color: rgb(194, 225, 246);
    color: rgb(10, 136, 214);
}