* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    overflow-x: hidden;
}

header {
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul li {
    list-style-type: none;
    padding: 0 45px;
}

ul li a:hover {
    color: rgb(235, 169, 158);
}

ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: center;
}

.box {
    height: 500px;
    width: 100%;
    border: 2px solid black;
    background-color: rgba(172, 215, 229, 0.655);
    justify-content: center;
}

.box1 {
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: 30px 0 5px 200px;
    background-color: bisque;
}

.box2 {
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: 30px 0 5px 200px;
    background-color: bisque;
    position: relative;
    top: -382px;
    left: 552px;
}

.text {
    height: 180px;
    width: 80vw;
    border: 2px solid aqua;
    background-color: aqua;
    margin: 20px 20px 20px 125px;
    border-radius: 50px;
}

.text p {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 120px;
    font-weight: 600;
}

img {
    height: 50px;
    width: 50px;
    float: right;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
}

footer {
    text-align: center;
    background-color: rgb(74, 142, 243);
    color: white;
    font-size: 20px;
    padding: 15px 0;
}
